API_PORT=8181
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DATABASE=postgres
POSTGRES_HOST=postgres
GOOGLE_APPLICATION_CREDENTIALS=/var/api/google_storage.json
GOOGLE_CLIENT_ID=ID
GOOGLE_CLIENT_SECRET=SECRET
GOOGLE_RECAPTCHA_SECRET=SECRET
JWT_PUBLIC_KEY=/path/to/public/key.der
JWT_PRIVATE_KEY=/path/to/private/key.der
